@model DT191G___Moment_3._2.Models.Artist

@{
    ViewData["Title"] = "Radera artist";
}

<h1>Radera artist</h1>

<h3>Är du säker att du vill radera artisten?</h3>
<br>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
    </dl>
    
    <br>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ArtistId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till listan</a>
    </form>
</div>
